<div class="center hero-unit">
<title>DevBatch App Store</title>
<h1>DevBatch App Store</h1>
</div>
<%= link_to image_tag("DevBatch_blue.png", height: "70px", width: "70px", alt: "DevBatch App Store"), 'http://www.devbatch.com' %>