<div class="center hero-unit">
<title>DevBatch App Store</title>
<h1>DevBatch App Store</h1>
</div>

  <%= render "products/product", :locals => {:product => @product} %>

<%= link_to image_tag("DevBatch_blue.png", height: "60px", width: "100px", alt: "DevBatch App Store"), 'http://www.devbatch.com' %>