<li>
  <%= link_to user.name, user %>
  <% if admin_user? && !current_user?(user) %>
      | <%= link_to "delete", user, method: :delete,
                    data: { confirm: "Are you sure to delete " + user.name + "?"} %>
  <% end %>
</li>