<% if admin_user? %>
<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
<% else %>
    <% flash[:failure]= "Sorry you do not have the rights to view all users" %>
<% end %>