<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h3>
       <%= "User name: " + @user.name %>
      </h3>
      <%= "Address: " + @user.address %>
      <br />
      <%= "Email: " + truncate(strip_tags(@user.email) + ".....", :length => 5) %>
    </section>
  </aside>
</div>