<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h3>
       <%= "User name: " + @user.name %>
        <br />
        <%= "Address: " + @user.address %>
      </h3>
    </section>
  </aside>
</div>