<div class="payment_form" >
<div class="span6 offset3">
  <h1>Please enter your order details</h1>
  <h2>Under Construction</h2>
  <%= form_for(@order) do |f| %>
      <%= render 'fields', f: f %>
      <%#= f.label :name %>
      <%#= f.text_field :name, :size => 40 %>
  <% end %>
</div>
</div>