<% provide(:title, 'Available Items') %>
<h1>Available Items</h1>

<%= will_paginate %>

<ul class="products_index">
  <%#= render 'products/_index', :locals => {:products => @products}  %>
  <% render 'products/index' %>
</ul>

<%= will_paginate %>